body{
	background-image: url("../photo/background.jpg");
}
.container{
	background-color: rgba(255,255,255,0.8);
}
<<<<<<< HEAD
#del{
	color:black;
	font-size:15px;
}
=======
>>>>>>> 5690852586e0602e94c1cc8db4bd8ef042e8d91f
