h1,h2,h3{
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	color: #2C6545;
}
.justify, #title {
	text-align: justify;
}
#treelogo{
	float:left;
}
#media{
	float:left;
}
body{
	background-image: url("../photo/background.jpg");
}
.container{
	background-color: rgba(255,255,255,0.8);
}
p{
	text-align: justify;
	font-size: 18px;
}